body{
    background-image: url(../Images/green.jpg);
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#logo{
    height: 90vh;
    width: 40%;
    float: left;
    display: inline-block;
}

#navigator{
    height: 90vh;
    width: 60%;
    float: left;
    display: inline-block;
}

#container{
    display: inline-block;
    width: 100%;
}

img{
    height: 40%;
}

#auth{
    margin-left: 90%;
    height: 25%;
    width: 30%;
}   

#wizard{
    /* margin-top: 40px; */
}


